@import '../../../assets/theme-kit/_variables';
.slds-dropdown__item--active > a {
  outline: 0;
  text-decoration: none;
  background-color: #f4f6f9;
}
.slds-lookup__menu {
  background: #fff;
  border-radius: .25rem;
  z-index: 7000;
  position: absolute;
  width: 100%;
  padding: .25rem 0;
  top: 42px;
}
.slds-lookup__list {
  max-height: calc((((1.5 * .8125rem) + (1.5 * .75rem) - .25rem) + (.25rem * 2)) * 5);
  overflow-y: auto;
  list-style: none;
  padding:0;
  box-shadow: 0 8px 8px rgba(0,0,0,.15);
  border-radius: 0 0 8px 8px;
  padding-bottom: 10px;
  max-height: 350px;
  overflow: scroll;
  a {
    font-size: 13px;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 6px 13px;
    color: $ch-dark;
    text-align: left;
    width: 100%;
    line-height: 1.5;
    border-radius: 0;
    &:hover,&:active,&:focus{
      color:#94bf30;
      text-decoration: none;
    }
  }
  ::-webkit-scrollbar
  {
    width: 12px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
  }

  ::-webkit-scrollbar-track
  {
    background: rgba(0, 0, 0, 0.1);
  }

  ::-webkit-scrollbar-thumb
  {
    background: rgba(0, 0, 0, 0.5);
  }
}

.slds-lookup {
  position: relative;
  width: 100%;
}
.slds-dropdown__item--active > a {
  outline: 0;
  text-decoration: none;
  background-color: #f4f6f9;
}
