@import '../assets/theme-kit/_variables';
.content{
	max-width: 500px;
    margin: 0 auto;
    text-align: center;
    form{
    	max-width: 333px;
    	margin: 0 auto;
    }
}
.forgot-password-wrap{
	padding: 50px;
	@include mobile{
		padding:0px;
	}
	.icon img{
		max-width:118px;
	}
}
