<div class="frontdesk-ad">
  <div>
    <a class="pull-right" href="#">
      Try Now
    </a>
    <div>
      <h4 class="title">
        Try ConnectHealth FrontDesk
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-9 col-sm-9 col-md-9 col-xs-9">
      <p>
        Want to manage your patient bookings with your receptionist, and manage cash & insurance claims? <a href="#">Free for one month.</a>
      </p>
    </div>
    <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3 icon">
      <img src="../../../assets/imgs/try-front-desk.png">
    </div>
  </div>
</div>
