<div class="container home-wrapper">
	<h1 class="title">
		Your Health Care Practice. Online
	</h1>

	<div class="content">
		<p>
			List your services in minutes,and accept appointment online.
		</p>
		<p>
			Introduce your practice to new clients. Delight your current ones.
		</p>
		<p>
			Free and Pro Available.
		</p>
	</div>

	<div class="actions">
		<p>
	  		<button md-raised-button color="primary" class="go-to-signup"  (click)="gotoSignup()">LIST YOUR PRACTICE</button>
		</p>
		<p class="terms">
			By signing up you agree to our terms and Privacy policy. 
		</p>
	</div>
	<app-plans></app-plans>
</div>

