<div class="row">
  <div class="col-lg-12 item">
    <div class="body">
      <div class="card profile">

        <div class="content row">

          <div class="col-lg-12">
            <div>
              <div class="row">
                <div class="controls">
                  <div>
                    <div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <ch-avatar [ngModel]="practice.logo" (ngModelChange)="updateLogo($event)"></ch-avatar>
                        </div>
                      </div>
                      <div class="col-lg-9">
                        <div class="form-group person">
                          <div class="pull-right">
                            <button class="btn btn-default btn-go-back" (click)="goBack()">Go back</button>
                          </div>
                          <div>
                            <h3 class="name" hoverHighlight (click)="openPracticeModal('name')">
                              {{practice.name}}
                            </h3>
                          </div>
                          <p class="user-link">
                            <a href="javascript:void(0)" class="user-link" hoverHighlight (click)="openPracticeModal('web')">
                              connecthealth.io/{{practice.ch_url}}
                            </a>
                          </p>
                          <p class="greetings" hoverHighlight (click)="openPracticeModal('overview')">
                            <span *ngIf="!practice.overview">
                              Use this space to show clients you have the skills and experience they're looking for.<br/>
                              Describe your strengths and skills<br/>
                              Highlight projects, accomplishments, and education<br/>
                              Keep it short and error-free
                            </span>
                            {{practice.overview}}<a *ngIf="practice.overview && practice.overview.length > 200">Read More</a>
                          </p>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="form-group" hoverHighlight>
                              <ch-tag-input placeholder="+ Add your areas of expertise" [ngModel]="practice.services" (ngModelChange)="updateServices($event)"></ch-tag-input>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 availability-wrap row-major">
            <!-- <ch-practice-availability (click)="openPracticeModal('location')"></ch-practice-availability> -->
          </div>

          <div class="col-lg-12 photos">
            <div class="">
              <h4>Photos <i class="material-icons" (click)="openPracticeModal('photos')">add</i></h4>
            </div>
            <div class=""  hoverHighlight>
              <ch-multiple-files-uploader 
              [ngModel]="practice.photos" 
              (ngModelChange)="updatePhotos($event)" [display]="'true'"></ch-multiple-files-uploader>
            </div>
          </div>

          <div class="col-lg-12 row">
            <div class="col-lg-6">
              <h4>Web & Social Media</h4>
              <ul class="list-unstyled" hoverHighlight (click)="openPracticeModal('web')">
                <li>
                    <a class="link">{{practice.website}}</a>
                    <p *ngIf="!practice.website">Add you website</p>
                </li>
                <li>
                    <a class="link">www.facebook.com/{{practice.facebook_page}}</a>
                    <p *ngIf="!practice.facebook_page">Allow clients to find you on social</p>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <h4>Office number</h4>
              <ul class="list-unstyled" hoverHighlight (click)="openPracticeModal('phone')">
                <li class="phone">
                  <a class="link">{{practice.mobile_phone}}</a>
                  <p *ngIf="!practice.mobile_phone">Add Your Mobile Phone Number</p>
                </li>
                <li class="phone">
                  <a class="link">{{practice.phone}}</a>
                  <p *ngIf="!practice.phone">Add Your Phone Number</p>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <ch-practice-forms [selectedPractice]="practice" [selectedPractice$]="practice$" [openForm]="openPracticeForm" (formClosed)="onFormClose($event)" [section]="practiceFormSection"></ch-practice-forms>

</div>
