<div id="wrapper" class="wrapper" [ngClass]="{'hide-sidebar': isHideSidebar}">

  <sidebar (selected)="redirect()"></sidebar>

  <!--Top header-->
  <div id="page-wrapper" class="page-wrapper dashbard" style="min-height: 100%;">
    <div class="row border-bottom">
      <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <ul class="nav navbar-top-links navbar-right">
          <li class="menu-button">
            <a href="javascript:void(0)" (click)="toggleSidebar()" >
              <img style="height: 24px" src="../assets/imgs/hamburger.png">
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" (click)="logout()">
              <i class="material-icons">exit_to_app</i>Log out
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <!--  <div class="row  border-bottom white-bg dashboard-header">
         <div class="col-lg-10">
             <h2>Manage Your Account</h2>
         </div>
     </div> -->
    <div class="row">
      <div class="col-lg-12">
        <div class="content-wrapper" (click)="redirect()">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <!--End of top header -->
</div>
