<div class="container">
	<div class="row plans-wrapper">

		<div class="col-xs-3">
			<div class="box">
				<div class="title-wrap">
					<h3 class="title">List & Book</h3>
					<h6 class="sub-title"> List and Book </h6>
				</div>
				<div class="price-title">
					<h2 class="price">Free</h2>
					<p class="price-timeline">
						forever
					</p>
				</div>

				<div class="action-wrap">
					<button md-raised-button class="list-plan-btn" color="primary" (click)="gotoSignup()">SIGN UP</button>
				</div>

				<div class="content">
					<ul>
						<li>List your services and clinic location(s) online</li>
						<li>Set your availability</li>
						<li>Accept appointments and new patient bookings</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="box">
				<div class="title-wrap">
					<h3 class="title">Remote Consults</h3>
					<h6 class="sub-title">Telemedicine Module </h6>
				</div>
				<div class="price-title">
					<h2 class="price">Free</h2>
					<p class="price-timeline">
						forever
					</p>
				</div>

				<div class="action-wrap">
					<button md-raised-button color="primary" class="list-consult-plan-btn" (click)="gotoSignup()">SIGN UP</button>
				</div>

				<div class="content">
					<ul>
						<li>List your services and clinic location(s) online</li>
						<li>Set your availability</li>
						<li>
							Accept appointments and new patient bookings
						</li>
						<li>
							Accept payment's directly via mpesa and crdeit card
						</li>
						<li>
							Provide teleconsultations over video, phone, chat from your mobile device or laptop
						</li>
						<li>
							<i>*Free to add telemedicine service, 25% fee if you charge your patients for the consultation, or use a private connecthealth line</i>
						</li>

					</ul>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="box">
				<div class="title-wrap">
					<h3 class="title">Front Desk</h3>
					<h6 class="sub-title">Billing & App Reminders </h6>
				</div>
				<div class="price-title">
					<h2 class="price">2,900/=</h2>
					<p class="price-timeline">
						forever
					</p>
				</div>
				
				<div class="action-wrap">
					<button md-raised-button color="primary" class="frontdesk-plan-btn" (click)="gotoSignup()">SIGN UP</button>
				</div>

				<div class="content">
					<ul>
						<li>Get listing, Booking and Remote Consult plus:</li>
						<li>Revenue Management, including cash receipts, invoicing, insurance claims, credit card, M-PESA Payments</li>
						<li>
							Sync and manage schedule for all of your clinic and office staff
						</li>
						<li>
							Automated SMS and email based appointments, reminders, bulk SMS and health messages.
						</li>
						<li>
							Practice analytics
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="box">
				<div class="title-wrap">
					<h3 class="title">Front Desk Pro</h3>
					<h6 class="sub-title">Telemedicine Module </h6>
				</div>
				<div class="price-title">
					<h2 class="price">9,900/=</h2>
					<p class="price-timeline">
						Go annual save 30%
					</p>
				</div>
				
				<div class="action-wrap">
					<button md-raised-button color="primary" class="inventory-plan-btn" (click)="gotoSignup()">SIGN UP</button>
				</div>

				<div class="content">
					<ul>
						<li>All of FrontDesk plus:</li>
						<li>Stock and inventory management module</li>
						<li>Accounting Module</li>
						<li>In-depth practice analytics,including pricing,utilization and marketing analysis</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
