<div class="row">
	<div class="col-lg-12 item">
		<div class="body">
			<div class="card profile">

				<div class="content row">

					<div class="col-lg-12">
						<ch-personal></ch-personal>
					</div>

					<div class="col-lg-12 availability-wrap row-major">
						<ch-practice-availability></ch-practice-availability>
					</div>

					<div class="col-lg-12">
						<div class="row row-major">
							<ch-practices class="col-lg-6" [tpl]="'tpl1'"></ch-practices>
							<ch-education class="col-lg-6"></ch-education>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
