<div class="patient-volume">
  <div>
    <a class="pull-right" href="#">
      Unlock Pro
    </a>
    <div>
      <h4 class="title">
        Patient Volume
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-9 col-sm-9 col-md-9 col-xs-9">
      <i class="material-icons">query_builder</i>
      <p>Info about your patients will be available here within a week.</p>
    </div>

    <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3 icon">
      <img src="../../../assets/imgs/patient-volume.png">
    </div>
  </div>

</div>
